
//.scene{
//  position: fixed;
//  min-height: 100vh;
//  top: 0;
//  right: 0;
//  bottom: 0;
//  left: 0;
//  z-index: -1;
//}
//.bg{
//  top: 0;
//  left: -3%;
//  position: absolute;
//  width: 105%;
//  height: 100%;
//  background-image: url('../img/1.jpg');
//  background-position: center center;
//  background-repeat: no-repeat;
//  background-size: cover;
//}
.container {
  width: 100%;
  max-width: 1040px;
  padding: 0 20px;
  margin: 0 auto;
}
// Vue transition
.app-fade{
  &-enter-active, &-leave-active{
    transition: all ease .4s;
  }
  &-enter, &-leave-to{
    opacity: 0;
  }
}

// Vue transition
.custom-wave{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  opacity: .25;
  position: absolute;
  animation: wave .6s linear;
  transform: scale(0);
}

@keyframes wave{
  to{
    opacity: 0;
    transform: scale(2.5);
  }
}
